*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-family: short-films, sans-serif;
  font-weight: 800;
  font-style: normal;
}

canvas {
  background: linear-gradient(180deg, #c9c9c9 10%, #181811 100%);
}
